
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('mangat.ttf');

body {
    background-color: rgb(20, 30, 45);
}

small {
    font-size: 12;
    font-family: 'Comfortaa';
    color: slategray;
}

.site-heading {
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 60px;
    color: white;

    margin-top: 50px;
    margin-bottom: 20px;
}

.site-subheading {
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 20px;
    color: white;

    margin-top: 0;
    margin-bottom: 0;
}

.site-sub-subheading {
    margin-top: 0;
    margin-bottom: 50px;

    text-align: center;
}

.section {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    
    border: 5px solid rgb(34, 53, 72);
    border-radius: 15px;
    
    color: white;
    background-color: rgb(25, 40, 55);

    font-family: 'Comfortaa';
}

.section-number {
    text-align: center;
    font-size: 30px;
    font-family: 'Comfortaa';
    color: white;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    background-color: rgb(43, 67, 92);

    padding: 10px;
}

.section-title {
    text-align: center;
    width: 80%;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    background-color: rgb(43, 67, 92);

    padding-top: 40px;
    padding-bottom: 30px;

    font-family: 'Comfortaa';
    font-size: 40px;
}

.rating {
    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    background-color: rgb(43, 67, 92);

    text-align: center;
    font-size: 12px;

    width: 10%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    padding: 10px;
}

.playtime {
    display: block;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 12px;
    background-color: rgb(43, 67, 92);

    text-align: center;
    font-size: 12px;

    width: 15%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    padding: 10px;
}

p {
    font-size: 16px;
    width: 80%;
    font-family: 'Comfortaa';
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    line-height: 20px;
}

.game-image {
    display: block;

    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 75%;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
}