
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('mangat.ttf');

body {
    background-color: rgb(20, 30, 45);
    margin: 0;
}

a {
    color: lightskyblue;
    text-decoration: underline;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    max-width: 100%;

    border-bottom: 5px solid rgb(34, 53, 72);

    background-color: rgb(13, 21, 32);
}

#menu-navbar {
    border-bottom: none;
}

.logo-container img {
    justify-content: left;
    display: block;
    height: 40px;
    border-radius: 20px;
    margin-right: auto;
    width: fit-content;
}

.navmenu {
    display: flex;
    align-items: center;
    font-family: 'Comfortaa';
    font-size: 18px;
    color: white;

    margin-left: 20px;
}

.nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    border: 5px solid transparent;
    padding: 5px;

    font-family: 'Comfortaa';
    font-size: 18px;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav:hover {
    border-radius: 10px;
    background-color: rgb(34, 53, 72);
}

#active {
    border-radius: 10px;
    background-color: rgb(34, 53, 72);
}

#menu-header {
    background-color: rgb(13, 21, 32);

    padding-top: 1px;
    padding-bottom: 100px;
    margin-top: 0;

    border-bottom: 5px solid rgb(34, 53, 72);
}

.site-header {
    margin-top: 150px;
    margin-bottom: 150px;
}

.site-heading {
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 60px;
    color: white;

    margin-top: 50px;
    margin-bottom: 20px;
}

.site-subheading {
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 20px;
    color: white;

    margin-top: 0;
    margin-bottom: 20px;
}

.site-sub-subheading {
    display: block;

    text-align: center;
    font-family: 'Comfortaa';
    font-size: 12px;
    color: slategray;

    margin-top: 0;
    margin-bottom: 0;
}

.section {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    
    border: 5px solid rgb(34, 53, 72);
    border-radius: 15px;
    
    color: white;
    background-color: rgb(25, 40, 55);

    font-family: 'Comfortaa';
}

.section-number {
    text-align: center;
    font-size: 30px;
    font-family: 'Comfortaa';
    color: white;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    background-color: rgb(43, 67, 92);

    padding: 10px;
}

.section-title {
    color:white;
    text-align: center;
    width: 80%;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    background-color: rgb(43, 67, 92);

    padding-top: 40px;
    padding-bottom: 30px;

    font-family: 'Comfortaa';
    font-size: 40px;
}

.rating {
    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    background-color: rgb(43, 67, 92);

    text-align: center;
    font-size: 12px;

    width: 10%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    padding: 10px;
}

.playtime {
    display: block;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    background-color: rgb(43, 67, 92);

    text-align: center;
    font-size: 12px;

    width: 15%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    padding: 10px;
}

p {
    font-size: 16px;
    font-family: 'Comfortaa';
    line-height: 24px;
}

.section-text {
    width: 80%;
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.game-image {
    display: block;

    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 75%;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
}

footer {
    display: block;
    justify-content: left;
    gap: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    max-width: 100%;

    border-top: 5px solid rgb(34, 53, 72);

    background-color: rgb(13, 21, 32);

    color: white;
    font-family: 'Comfortaa';
    font-size: 14px;
}

#footer-text {
    width: 80%;
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.project-row {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 25px;

    margin-bottom: 20px;
}

.project {
    border: 5px solid rgb(34, 53, 72);
    border-radius: 15px;
    
    color: white;
    background-color: rgb(25, 40, 55);

    font-family: 'Comfortaa';
    padding: 20px;
    padding-bottom: 20px;
    width: 280px;

    text-align: left;

    height: 180px;
}

.project-row a {
    text-decoration: none;
}   

.project-row a:hover .project {
    transform: scale(1.03);
}

.project-title {
    text-align: center;
    font-size: 10px;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    color: white;
    background-color: rgb(43, 67, 92);
    padding: 5px;
}

.project-text {
    width: 80%;
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#projects {
    margin-bottom: 200px;
}

.socials {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    padding: 20px;
    
    border-radius: 15px;
    
    color: white;

    font-family: 'Comfortaa';
}

.socials-title {
    text-align: center;
    font-size: 28px;

    margin-left: auto;
    margin-right: auto;
    width: 250px;

    padding: 15px;

    border: 5px solid rgb(58, 90, 123);
    border-radius: 15px;
    color: white;
    background-color: rgb(43, 67, 92);
}

.social-link-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.social-image {
    display: flex;
    margin-bottom: 10px;
    height: 100px;
    width: auto;
    margin-bottom: 20px;
    justify-content: center;
}

.social-link {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa';
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.social-link:hover {
    transform: scale(1.03);
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}